<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="extension.css">
    <title>WhatsApp Extension</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header-left">
            <h3>Bulk Sender</h3>
        </div>
        <div class="header-right">
            <span>Version: 1.0.46</span>
            <br>
            <span>Number: +923085749580</span>
        </div>
    </div>
    <div class="content">
        <div class="input-container">
            <label for="phoneNumber">WhatsApp Numbers</label>
            <small class="small-text">Country code in front, separate using commas, +8654086511655,
                +8648615498418</small>
            <input type="text" id="phoneNumber" placeholder="+9287432498494, +4878745854845">
        </div>
        <div class="input-container">
            <label for="message">Message Text</label>
            <textarea id="message" placeholder="Hello, Type your message"></textarea>
        </div>
        <div class="button-container">
            <button id="cancelButton">Cancel</button>
            <button id="sendButton">Send</button>
        </div>
    </div>
    <div class="footer">
        <p>Help Center: Contact us</p>
    </div>
</div>
</body>
</html>
